bleach==1.5.0
certifi==2017.11.5
chardet==3.0.4
enum34==1.1.6
future==0.16.0
gym==0.9.4
html5lib==0.9999999
idna==2.6
ipython==5.5.0
ipython-genutils==0.2.0
Markdown==2.6.10
mock==2.0.0
nose==1.3.7
numpy==1.13.3
olefile==0.44
pandas==0.21.0
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.3.0
pickleshare==0.7.4
Pillow==4.3.0
prompt-toolkit==1.0.15
protobuf==3.18.3
ptyprocess==0.5.2
pyglet==1.3.0
Pygments==2.2.0
PyOpenGL==3.1.0
requests==2.18.4
scandir==1.6
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
tensorflow==1.4.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.13
